
.cube-container {
    perspective: 800px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
}

.cube div {
    position: absolute;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    border: 2px solid #080808; /* borda branca */
    box-sizing: border-box;
   
}

.cube .front  { background-color: #ef08c5;
   transform: rotateY(  0deg) translateZ(50px); }
.cube .back   {background-color: #5cdaea;
     transform: rotateY(180deg) translateZ(50px); }
.cube .left   { background-color: #99efb3;
    transform: rotateY(-90deg) translateZ(50px); }
.cube .right  { background-color: #eadf89;
   transform: rotateY( 90deg) translateZ(50px); }
.cube .top    { background-color:  #9d7ef0;
   transform: rotateX( 90deg) translateZ(50px); }
.cube .bottom { background-color: #f96b6b;
   transform: rotateX(-90deg) translateZ(50px); }

@keyframes rotate {
    from {
        transform: rotateX(0) rotateY(0);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
